{% extends 'base.html.twig' %}

{% block body %}
    <h1>detail du souhait</h1>
    <div>title: {{ wish.title }}</div>
    <div>description: {{ wish.description }}</div>
    <div>author: {{ wish.author }}</div>
    <div>isPublished: {{ wish.published }}</div>
    <div>createdAt: {{ wish.dateCreated | date('Y-m-d') }}</div>
    <div>updatedAt: {{ wish.dateUpdated | date('Y-m-d')}}</div>
{% endblock %}

